@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    color:white;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    
}


/* MENU BAR: */

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #008584;
    font-size: 1em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 30px 16px;
    left: 75vw;
    color: #F5F5F5;
    position: relative;
}

nav img#logo{
    width: 100px;
    height: 100px;
    display: absolute;
    margin: 30px 0 0 40px;
    border: 3px solid #A68069;
    border-radius: 50%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* EFEITO UNDERLINE COM ANIMAÇÃO: */

li a::before {
    content: "";
    position: absolute;
    padding: 1px;
    margin: 13px;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0; 
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

li a:hover::before{
    transform: scaleX(.9);
}

li a:active{
    color: blue;
} 

{
 



    
}